@import '@styles/utilities/_utilities.scss';

.border-primary {
  border: 1px solid $primary;
}

.is-hidden {
  display: none;
}

.is-block {
  display: block;
}

.is-inline-block {
  display: inline-block;
}

.is-bg-transparent {
  background-color: transparent !important;
}

.is-cursor-pointer {
  cursor: pointer !important;
}

.text-red {
  color: $red !important;
}
