@import '@styles/utilities/_utilities.scss';

.border-primary {
  border: 1px solid $primary;
}

.is-hidden {
  display: none;
}

.is-block {
  display: block;
}

.is-inline-block {
  display: inline-block;
}

.is-bg-transparent {
  background-color: transparent !important;
}

.is-cursor-pointer {
  cursor: pointer !important;
}

.text-red {
  color: $red !important;
}

.bg-gradient {
  background-image: -webkit-linear-gradient(17.17deg, #4285f4 11.63%, #d96570 40.43%, #d96570 68.07%);
}
