.border-gold {
  border: 1px solid burlywood;
}

.is-hidden {
  display: none;
}

.is-block {
  display: block;
}

.is-inline-block {
  display: inline-block;
}

.is-bg-transparent {
  background-color: transparent !important;
}

.is-cursor-pointer {
  cursor: pointer;
}