.base-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: burlywood;
  border: 2px solid burlywood;
  background-color: white;
  cursor: pointer;
}
