@import '@styles/utilities/_utilities.scss';

.base-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: $primary;
  border: 2px solid $primary-dark;
  background-color: $primary-light;
  border-radius: 10px;
  cursor: pointer;
  max-width: 90vw !important;
}

.google-button {
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.logout-button {
  font-size: 16px;
  background-color: transparent;
  color: $primary-light;
  border: 2px solid $primary-light;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}