@import '@styles/utilities/_utilities.scss';

.message-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;

  &__header {
    position: relative;
    align-items: center;

    &--title {
      padding-left: 30px;
      padding-right: 20px;
      text-align: center;
      line-height: 1.2em;
      font-size: 18px;
      color: $primary-light;

      @include truncate-text;
    }

    &--seperator {
      margin-left: 30px;
      border: 0.5px solid $primary;
    }

    &--avatar {
      position: absolute;
      top: -40px;
      left: -40px;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background: #2c15B070;
      backdrop-filter: blur( 50px );
    }
  }

  &__body {
    margin-bottom: 10px;
    @include truncate-text(3);

    &--text {
      padding-left: 30px;
      padding-right: 20px;
      color: $primary-light;
      font-size: 18px;
      line-height: 1.2em;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;

    &--date {
      color: $primary-light;
      font-size: 14px;
    }
  }
}
