@import '@styles/utilities/_utilities.scss';

.message-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  border: 1px solid $primary;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px;
  cursor: pointer;

  &__header {
    position: relative;
    align-items: center;

    &--title {
      text-align: center;
      font-size: 24px;
      color: $primary;
    }

    &--avatar {
      position: absolute;
      border: 1px solid $primary;
      top: -40px;
      left: -40px;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      object-fit: cover;
      background: rgba(110, 194, 110, 0.799);
      backdrop-filter: blur( 50px );
    }
  }

  &__body {
    margin-bottom: 10px;
    @include truncate-text(3);

    &--text {
      color: $grey;
      font-size: 18px;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;

    &--date {
      color: $grey-light;
      font-size: 16px;
    }
  }
}