@import '@styles/utilities/_utilities.scss';

.new-message {
  display: flex;
  flex-direction: column;
  color: $primary-dark;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: normal !important;
    border: 1.5px solid $primary !important;
    margin-bottom: 50px !important;

    @include to-tablet {
      margin-bottom: 40px !important;
    }
  }

  &__name {
    font-size: 20px;
    color: $primary-dark;
    margin-bottom: 15px;

    &--info {
      font-size: 14px;
      margin-left: 5px;
      margin-right: 5px;
      color: $primary;
    }
  }

  &__text-area {
    min-height: 150px;
    padding: 10px;
    border: 1px solid $primary-dark;
    border-radius: 10px;
    color: $grey;
    margin-bottom: 5px;
  }
  
  &__warning {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: $red;
    font-size: 20px;
  }
  
  &__warn-text {
    font-size: 14px;
    color: $primary;
    margin-left: 5px;
    margin-bottom: 60px;
  }

  &--access-denied {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: $red;
    font-size: 20px;
    margin-top: 50px;
  }
}

.message-modal {
  font-size: 18px;
  color: $primary-light;

  &__content {
    line-height: 1.3em;
    text-align: center;
  }
}
