<h1><%= @article.title %></h1>

<p><%= @article.body %></p>


<div class="row">
  <div class="col">
    <%= link_to "Düzenle", edit_article_path(@article), :class => "btn btn-primary"%>
    <%= button_to("Sil", @article, method: :delete, class: 'btn btn-danger', data: {turbolinks: false, confirm: "Emin misiniz?" })%>
  </div>
</div>

