$white: #ffffff;
$black: #000000;
$red: #c90000;

$dark: #1a1a1a;

$grey-dark: #333333;
$grey: #5f5f5f;
$grey-light: #b3b3b3;

$primary-light: lighten(#002fa7, 70%);
$primary-bg: lighten(#002fa7, 35%);;
$primary: #002fa7;
$primary-dark: darken(#002fa7, 20%);

