$white: #ffffff;
$black: #000000;
$red: #c90000;

$dark: #1a1a1a;

$grey-dark: #333333;
$grey: #5f5f5f;
$grey-light: #b3b3b3;

$primary-light: #dbd4ff;
$primary: #2c15B0;
$primary-dark: #2a1f69;
$primary-darker: #1b1733;
