@use 'sass:color';

$white: #ffffff;
$black: #000000;
$red: #c90000;

$dark: #1a1a1a;

$grey-dark: #333333;
$grey: #5f5f5f;
$grey-light: #b3b3b3;

$primary-light: color.adjust(#002fa7, $lightness: 70%);
$primary-bg: color.adjust(#002fa7, $lightness: 35%);
$primary: #002fa7;
$primary-dark: color.adjust(#002fa7, $lightness: -20%);
