.all-messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  
  &__content {
    display: grid;
    min-height: 50vh;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;
    margin-bottom: 30px !important;

    @include to-tablet {
      width: -webkit-fill-available;
    }
  }

  &__search {
    display: flex;
    max-width: 700px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 40px;
    width: -webkit-fill-available;

    @include to-tablet {
      flex-direction: column;
    }

    &--input {
      width: -webkit-fill-available;
      margin-right: 15px;
      padding: 10px;
      border: 2px solid $primary;
      border-radius: 10px;
      outline: none;
      font-size: 16px;

      @include to-tablet {
        margin-right: 0;
        margin-bottom: 10px;
      }
  
      &::placeholder {
        color: $primary;
      }
  
      &:hover {
        border-color: $primary-dark;
      }
    }
  }

  &__return {
    @include to-tablet {
      width: -webkit-fill-available;
    } 

    &--full {
      @include to-tablet {
        width: -webkit-fill-available;
      } 
    }
  }
}