.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffe4c4;
  width: 100%;
  
  
  &__image {
    width: 500px;
  }
}