@import '@styles/utilities/_utilities.scss';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  min-height: 200px;
  background-color: $primary-dark;
  color: $primary-light;
}
