.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  min-height: 300px;
  
  
  &__image {
    max-width: 800px;
    border: 2px solid burlywood;
    border-radius: 10px;
  }
}