@import '@styles/utilities/_utilities.scss';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 300px;
  
  
  &__image {
    width: 700px;
    max-width: 90vw;
    border: 2px solid $primary;
    border-radius: 10px;
  }
}