@import '@styles/utilities/_utilities.scss';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &--image {
    max-width: 700px;
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: cover;
    border: 2px solid $primary;
    border-radius: 20px;
    margin-bottom: 30px;

    @include to-tablet {
      max-width: 90vw;
      margin-bottom: 20px;
    }
  }
}
