@import '@styles/utilities/_utilities.scss';

.navbar {
  background-color: $primary-dark;
  color: $primary-light;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  @include mobile {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 22px;
  }

  &--logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }

  &__link {
    color: $primary-light;
    text-decoration: none;
  }
}
