@import '@styles/_all';

body {
  background-color: #877dbe;
  font-family: sans-serif, Arial, Helvetica;

  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

.is-glass{
  background: rgba( 255, 255, 255, 0.25 );
  backdrop-filter: blur( 1.5px );
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}