@import '@styles/utilities/_utilities.scss';
@import '@styles/_all';

body {
  background-color: $primary-bg;
  font-family: sans-serif, Arial, Helvetica;

  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

input, textarea {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: $primary;
}

.is-glass{
  background: #2c15B050;
  backdrop-filter: blur( 1.5px );
}

.is-full-width {
  width: 100%;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}